html,
body {
    height: 100%;
    margin: 0px;
    width: 100%;
    min-height: 300px;
    min-width: 400px;
    position: relative;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto;
    font-weight: 400;
}

.container {
    display: flex;
    position: absolute;
    width: 100%;
    top: 0px;
    bottom: 0px;
}

.header {
    line-height: 50px;
    font-size: 24px;
    font-weight: 300;
    padding: 0px 24px;
    background-color: #f1f1f1;
    position: absolute;
    top: 24px;
    left: 24px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}

#map {
    background-color: #f1f1f1;
    width: 10px;
    flex: 1;
}

.sidebar {
    max-width: 160px;
    width: 160px;
    background-color: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    overflow: auto;
    position: absolute;
    right: 24px;
    top: 40px;
    bottom: 120px;
    overflow: scroll;
}

.personselector {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.54);
    position: relative;
    padding-left: 24px;
    margin: 8px 8px;
    font-size: 13px;
    line-height: 30px;
    height: 32px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
}

.personselector.active {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    cursor: pointer;
}

.personselector.active.selected {
    color: dodgerblue;
    border-color: dodgerblue;
}

.indicator {
    display: none;
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 8px;
    left: 8px;
    top: 50%;
    margin-top: -4px;
}

.personselector.active .indicator {
    display: block;
}

.mapwindow {
    width: 352px;
    min-height: 100px;
}

.mapwindowheader {
    font-weight: 500;
    margin-bottom: 4px;
}

.extracts {
    padding-bottom: 40px;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.extract {
    max-height: 300px;
    overflow: scroll;
    width: 100%;
    flex-shrink: 0;
}

.extractheader {
    margin-bottom: 8px;
}

.mapnextquote,
.maplastquote {
    padding: 8px 0px;
    cursor: pointer;
    text-align: center;
}

.mapnextquote:hover,
.maplastquote:hover {
    color: royalblue;
    font-weight: 500;
}

.mapnextquote {
    width: 44px
}

.maplastquote {
    width: 44px
}

.mapmovequote {
    position: absolute;
    left: 10px;
    right: -8px;
    bottom: 0px;
    display: flex;
    color: rgba(0, 0, 0, 0.54);
    font-size: 11px;
}

.movecontent {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    flex-grow: 0;
    display: flex;
    margin-left: auto;
    padding: 0px;
}

#extractcounter {
    padding: 8px;
    flex-grow: 1;
    text-align: right;
}


/*
.map-icon-label .map-icon {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 32px;
    text-align: center;
    white-space: nowrap;
}

.map-icon-label {
    height: 32px;
}
*/