#my-story{  
    padding-top: 40px;
    padding-bottom: 40px;
}

#my-story .hidden{
    display:none;
}

#my-story .login-row{
    padding-top: 10px;
    padding-bottom: 10px;
}
#my-story .login-row label{
    width:150px;
    margin-right: 10px;
}
#my-story .login-row input{
    font-size: 18px;
    line-height:47px;
}

#my-story .login-row button{
    width: 40%; 
    line-height: 47px;
    height: 47px;

    max-width: 300px;
    margin: auto;
    display: block;

}