.content {
    z-index: 10;
    position: relative;
}

.active #storiessection {
    margin-top: 0px;
}

#storiesbody {
    display: flex;
    align-items: stretch;
    padding-top: 30px;
}

#stories {
    margin-right: 30px;
    padding-right: 30px;
    min-height: calc(100vh - 323px);
    border-right: 1px solid black;
}

#sharedstoryfooter {
    position: sticky;
    bottom: 0px;
    overflow: hidden;
    padding-top: 24px;
    background-color: rgba(255, 255, 255, 0.97);
    width: calc(100% - 230px);
    padding-right: 30px;
    margin-bottom: 30px;
    border-right: 1px solid black;
}

#sharedstoryfooter[disabled] {
    opacity: 0;
    z-index: -1;
}

#related {
    font-size: 15px;
    position: sticky;
    top: 200px;
    padding-top: 10px;
    font-weight: 400;
    min-width: 200px;
}

#related {
    min-height: calc(100vh - 323px);
}

.relatedstory {
    cursor: pointer;
    text-decoration: underline;
    line-height: 25px;
    margin-bottom: 15px;
}

.menuitem:hover,
#featuredstories .featuredstory:hover,
.relatedstory:hover {
    color: rgba(0, 0, 0, 0.87)
}

#related .relatedesectiontitle {
    padding-bottom: 8px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
}

#relatedcombinedthemestitle {
    margin-top: 40px;
}

.storysection {
    opacity: 0;
    transform: scale(0.8);
    height: 0;
    margin-bottom: 0px;
    overflow: hidden;
}

.storysection.playingstory {
    opacity: 1;
    transition-duration: 400ms;
    height: auto;
    transform: scale(1);
}



.storytext {
    font-size: 17px;
    line-height: 32px;
    min-height: 320px;
}

.storyinfo {
    font-size: 12px;
    font-weight: 600;
}

.storyfooter {
    display: flex;
    height: 32px;
    overflow: hidden;
    align-items: center;
    position: sticky;
    bottom: 0;
    width: 100%;
    box-sizing: content-box;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.progresstracker {
    flex: 1;
    padding: 0px 20px;
    display: flex;
    align-items: center;
}

.storycontentdiv {
    padding-bottom: 0px;
    position: relative;
}

.nextactions {
    display: flex;
    margin-left: auto;
    width: max-content;
    padding-top: 20px;
    padding-bottom: 30px;
}

.nextstory {
    cursor: pointer;
    text-align: right;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.57);
    margin-left: 20px;
    display: flex;
    align-items: center;
}


.astory.playingstory .nextstory {
    display: flex;
    align-items: center;
}

.nextstory .skiptext {
    font-size: 10px;
    padding-right: 3px;
    line-height: 20px;
}

.nextstory i.material-icons {
    font-size: 15px;
    line-height: 20px;

}


.progressindicator {
    height: 6px;
    background-color: #f2f2f2;
    flex: 1;
    box-sizing: border-box;
    position: relative;
}

.progressindicatorinner {
    background-color: #b1b1b1;
    width: 0%;
    height: 100%;
}

#audioplaypause {
    cursor: pointer;
    font-size: 28px;
    margin-left: 16px;
}

.volumecontrol {
    width: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
}

.volumelevel {
    width: 15%;
    background-color: #f2f2f2;
    cursor: pointer;
}

.volumelevel.active {
    background-color: #b1b1b1;
}

.volumelevel:nth-child(2) {
    height: 20%;
}

.volumelevel:nth-child(3) {
    height: 40%;
}

.volumelevel:nth-child(4) {
    height: 60%;
}

.volumelevel:nth-child(5) {
    height: 80%;
}

.volumelevel:nth-child(6) {
    height: 100%;
}

#templates {
    display: none;
}

.themename {
    font-size: 21px;
    font-weight: 600;
}

.themeconnector {
    font-size: 32px;
    font-weight: 300;
}

.howtocontinue {
    height: 0px;
    overflow: hidden;
    font-weight: 400;
    font-size: 21px;

}

.playingstory.howtocontinue {
    height: auto;
    padding-top: 70px;
}

.prompts {
    font-weight: 200;
    font-size: 32px;
    margin-bottom: 20px;
}



.continuemore {
    width: 100%
}

.howtocontinue .continueclickelement {
    align-items: center;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 8px 12px;
    height: 64px;
    padding-left: 0px;
}

.continuemore,
.continuemmainmenu {
    cursor: pointer;
    margin-bottom: 31px;
}


.continuemore br {
    display: none;
}

.howtocontinue.allstoriesloaded .responses {
    padding-bottom: 56px;
    border-bottom: 24px solid rgba(0, 0, 0, 0.0);
}

.playingstory.howtocontinue.allstoriesloaded .responses {
    border-bottom-color: rgba(0, 0, 0, 0.87);
}

.howtocontinue.allstoriesloaded .spacer {
    padding-bottom: 120px;
}

.howtocontinue.allstoriesloaded .continuemore {
    display: none;
}

#relatedclose {
    display: none;
}

#related {
    position: sticky;
    top: 240px;
}

.hidedesktop {
    display: none;
}

.hideOver767 {
    display: none;
}

#storiessection {
    position: relative;
}

#playprompter {
    display: none;
    left: 0;
    right: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    opacity: 0;

}

#playprompter.showing {
    display: block;
    z-index: 10;
    opacity: 1;
}

@media screen and (max-width: 600px) {
    .hidemobile {
        display: none;
    }

    .hidedesktop {
        display: block;
    }
}

@media screen and (max-width: 767px) {

    .hideUnder767 {
        display: none;
    }

    .hideOver767 {
        display: inherit;
    }

    .continueprompt #relatedclose {
        display: none;
    }

    #storiesbody {
        display: block;
    }

    .continueprompt #stories {
        min-height: 0px;
    }

    .continueprompt #related {
        display: block;
    }

    .responses {
        display: flex;
        justify-content: space-between;
    }

    .howtocontinue {
        font-size: 14px;
    }

    .howtocontinue .continueelement {
        min-width: 31%;
        max-width: 31%;

    }

    .continuemore,
    .continuemmainmenu {
        border: 1px solid rgba(0, 0, 0, 0.16);
        border-radius: 6px;
    }


    .howtocontinue .continueclickelement {
        padding-left: 12px;
    }

    .continuemore br {
        display: unset;
    }

    #storiesbody {
        padding-top: 15px;
    }

    #stories {
        margin-right: 0px;
        width: 100%;
        border-right: none;
        padding-right: 0px;
    }

    .storysection:not(.playingstory) {
        opacity: 0%;
    }


    .active #storiessection {
        margin-top: 0px;
    }

    .storysection.playingstory {
        transform: scale(1);
    }

    .storycontentdiv {
        border: none;
        padding: 16px 0px;
    }

    .howtocontinue .continueelement {
        min-width: 48%;
        max-width: 48%;
    }

    .responses {
        flex-wrap: wrap;
    }

    #pickrelated {
        margin-top: 20px;
        width: 40%;
        margin-left: auto;
    }

    #sharedstoryfooter {
        width: 100%;
        padding-right: 0px;
        border-right: none;
    }

    #storiessection.displayRelated #stories {
        display: none;
    }

    .relatedstory {
        margin-bottom: 16px;
    }

    #related {
        display: none;
        position: unset;
        top: 0;
        padding-left: 0px;
        margin: 0px;
        padding-top: 50px;
        font-size: 18px;
    }

    #relatedclose {
        display: unset;
        display: block;
        line-height: 52px;
        margin-bottom: 40px;
        cursor: pointer;
        color: black;
        border: 1px solid;
        padding: 0px 16px;
        font-size: 24px;
    }

    #relatedclose span.material-icons {
        margin-right: 10px;
        line-height: 52px;
    }

    #storiessection.displayRelated #related {
        display: block;
        padding-top: 0px;
    }

    .nextstory i.material-icons {
        font-size: 20px;
    }

    .nextstory .skiptext {
        font-size: 14px;
    }

    .nextstory:first-child {
        margin-left: 0px;
    }
}
