#selectorsectionwrapper {
    background-color: black;
    z-index: 100;
    color: white;
    min-height: 70vh;
    padding: 40px 0px;
    align-items: center;
    display: flex;
}


#selectorsection {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.3;
    margin: auto;
    box-sizing: border-box;
}

#selectorsectionwrapper .randomselection {
    text-decoration: underline;
    cursor: pointer;
    font-size: 30px;
    padding: 24px 0px;
}

.active #selectorsection {
    display: flex;
    align-items: center;
    font-size: 28px;

}

.active .randomselection {
    display: none;
}

.active #selectorsectionwrapper {
    position: sticky;
    top: 42px;
    margin-top: 42px;
    min-height: 120px;
    overflow: hidden;
}


.titleLabel {
    margin-bottom: 40px;
}

.active .titleLabel {
    min-width: 194px;
    flex: 0;
    margin-bottom: 0px;
}

.backbutton.material-icons {
    display: none;
}

.active .backbutton.material-icons {
    display: block;
    width: 40px;
    line-height: 90px;
    cursor: pointer;
    margin-right: 20px;
    font-size: 40px;
}

#selectorsection #theme-selector {
    border: 1px solid white;
    background-color: black;
    outline: none;
    line-height: 90px;
    height: 90px;
    border-radius: 0px;
    display: block;

    padding-left: 20px;
    background-color: white;
    background: none;

    -moz-appearance: none;
    -webkit-appearance: none;
    font-size: 24px;


    box-sizing: border-box;
    width: 100%;

    overflow: hidden;
}

#theme-selector #selectedTheme {
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    white-space: nowrap;
    background-image: url(https://antitheos.github.io/TellMeAStory/content/white-dropdown-selector.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 11px) center;
    background-size: 20px;
    padding-right: 41px;
    margin-right: 16px;
}

#theme-selector .option {
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    white-space: nowrap;
    line-height: 54px;
    height: 54px;
    padding-right: 8px;

}

#theme-selector .options {
    overflow: hidden;
    height: 0px;
    font-size: 24px;
}

#selectorsection #theme-selector.showOptions #selectedTheme {
    border-bottom: 1px solid white;

}

#selectorsection #theme-selector.showOptions {
    border-bottom: 1px solid white;
    margin-right: 16px;
}

#theme-selector.showOptions .options {
    height: 50vh;
    overflow: scroll;

}

.active #selectorsection #theme-selector {
    margin-left: 32px;
    line-height: 60px;
    height: 60px;
}







.active .middle-text-bg {
    display: none;
    visibility: hidden;
    width: 0px;
    height: 0px;
    overflow: hidden;
    opacity: 0;

}

#storiessection {
    display: none;
    padding: 0px 0px;
}

.active #storiessection {
    display: block;
}

#templates {
    display: none;
    visibility: hidden;
    overflow: hidden;
    height: 0px;
    width: 0px;
}

#themes-container {
    background-color: #E2E2E2
}

#themeswrapper {
    padding-bottom: 100px;
}

#themestitle {
    line-height: 2;
    font-size: 28px;
    font-weight: 700;
    margin-top: 100px
}

.collection-item {
    text-decoration: underline;
    cursor: pointer;
    line-height: 2;
    font-size: 18px
}

.theme {
    position: relative;
    padding-top: 100px;
    padding-bottom: 20px;
    width: 45%;
    background-color: #f1f1f1;
    margin-bottom: 30px;
    padding-left: 20px
}


.theme:nth-child(odd) {
    margin-left: 0px;
    margin-right: auto;
}

.theme:nth-child(even) {
    margin-left: auto;
    margin-right: 0px;
}

.sectionwidth {
    width: 90%;
    max-width: 900px;
    margin: auto;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

@media screen and (max-width: 479px) {

    #storiessection,
    .widthcontrol {
        padding-right: 15px;
        padding-left: 15px;
    }

    .sectionwidth {
        width: 100%;
    }


}

@media screen and (max-width: 767px) {
    .active #selectorsection {
        display: block;
    }

    .active #selectorsectionwrapper {
        min-height: auto;
        height: auto;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .active .backbutton.material-icons {
        position: absolute;
        line-height: 40px;
    }

    .active .titleLabel {
        margin-left: 60px;
        line-height: 40px;
        margin-bottom: 20px;
    }

    .active #selectorsection #theme-selector {
        margin-left: 60px;

        width: calc(100% - 60px);
    }
}


@media screen and (max-width: 991px) {
    .active #selectorsectionwrapper {
        margin-top: 7vh;
        top: 7vh;
    }
}
