#selectorsectionwrapper {
    padding: 100px 0px;
    background-color: #efefef;
    margin-top: 100px;
}

#selectorsection {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.3;
    max-width: 700px;
    margin: auto;
    box-sizing: border-box;
    padding: 20px;
}



.active #selectorsection {
    display: flex;
    align-items: center;
    font-size: 30px;

}

.active #selectorsectionwrapper {
    position: sticky;
    top: 0px;
    margin-top: 0px;
}

.titleLabel {
    margin-bottom: 40px;
}

.active .titleLabel {
    width: 400px;
    margin-bottom: 0px;
}

.backbutton.material-icons {
    display: none;
}

.active .backbutton.material-icons {
    display: block;
    width: 90px;
    line-height: 90px;
    cursor: pointer;
    margin-right: 20px;
    font-size: 40px;
}

#selectorsection select {
    border: 1px solid black;
    line-height: 90px;
    height: 90px;
    border-radius: 0px;
    display: block;
    min-width: 300px;

    padding: 0px 20px;
    background-color: white;
    background: none;

    -moz-appearance: none;
    -webkit-appearance: none;
    font-size: 24px;
    padding-right: 30px;
    background-image: url(https://antitheos.github.io/TellMeAStory/content/chevron.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) center;
    background-size: 20px;
}

.active #selectorsection select {
    margin-left: 32px;
}

#selectorsection option {
    font-size: 24px;
}

.active .middle-text-bg {
    display: none;

}

#audioplaysection {
    display: none;
    padding: 60px 0px;
}

.active #audioplaysection {
    display: block;
}

#templates {
    display: none;
    visibility: hidden;
    overflow: hidden;
    height: 0px;
    width: 0px;
}

#themeswrapper {
    max-width: 700px;
    margin: auto;
    padding: 100px 0px;
}

#themestitle {
    line-height: 2;
    font-size: 48px;
    text-align: center;
    font-weight: 700;
    margin-top: 100px
}

#themesblock {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.theme {
    position: relative;
    padding-top: 100px;
    padding-bottom: 20px;
    width: 45%;
    background-color: #f1f1f1;
    margin-bottom: 30px;
    padding-left: 20px
}


.theme:nth-child(odd) {
    margin-left: 0px;
    margin-right: auto;
}

.theme:nth-child(even) {
    margin-left: auto;
    margin-right: 0px;
}
